:root {
  --circle-bg: #5a594e;
}

.dark-mode {
  --circle-bg: #aaa;
}

.container {
  width: 100%;
  max-width: 624px;
  min-height: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_title {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 16px;
  font-size: 37px;
  padding-top: 10px;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 80px);
  gap: 8px;
  max-width: 600px;
  box-sizing: border-box;
  align-items: center;
  margin: 20px;
}

.actionButtonGrid {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.mistakesContent {
  display: flex;
  align-items: center;
}

.mistakesRemaining {
  display: flex;
  min-width: 120px;
  gap: 10px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background-color: var(--circle-bg);
}

.instruction-text {
  margin-top: 16px; 
}

@media (max-width: 600px) {
  .game_title {
    font-size: 1.5em;
  }

.grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px; /* Ensures 8px space between both rows and columns */
    padding: 24px 0px; /* Adds 16px top/bottom padding, maintains 12px sides */
    width: 100%;
    height: auto; /* Overrides height: 100% to prevent vertical tile merging */
    max-width: none;
    margin: 0;
    box-sizing: border-box;
  }

  .actionButtonGrid {
    flex-direction: row;
    align-items: center;
  }

  .actionButtonGrid>* {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }
}
