:root {
  --App-bg: #fff;
  --App-color: #000;
}

.dark-mode {
  --App-bg: #000;
  --App-color: #fff;
}

.App {
  background-color: var(--App-bg);
  color: var(--App-color);
  width: 100vw;
  height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;